<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Kynetx</string>
	<key>CFBundleDisplayName</key>
	<string>SafariUBX</string>
	<key>CFBundleIdentifier</key>
	<string>com.kynetx.safariubx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>login_window</string>
				<key>Identifier</key>
				<string>Kynetx</string>
				<key>Image</key>
				<string>kynetx_16x16.png</string>
				<key>Label</key>
				<string>Kynetx</string>
				<key>Palette Label</key>
				<string>Kynetx</string>
				<key>Tool Tip</key>
				<string>Kynetx Application Manager</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>page.js</string>
				<string>kobj_interact.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Kynetx Application Manage</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.kynetx.com</string>
</dict>
</plist>
