Thanks for logging in you are super....<br>
<div id="bx_result_data" style="display:none;">
  <%={"action"=> "login_success", "user" => {}, "domains_to_applications" => {}, "applications" => @user.ken.apps }.to_json%>
</div>
<script>
    function fireCustomEvent(data) {
        alert("about to send");
        var customEvent = document.createEvent('Event');
        customEvent.initEvent('kynetx_custom_event', true, true);
        hiddenDiv = document.getElementById('bx_result_data');
        hiddenDiv.dispatchEvent(customEvent);
    }

    setTimeout(fireCustomEvent, 500);
</script>