/* CSS Resets */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;text-align:left;font-family:inherit;}table{border-collapse:collapse;border-spacing:0;}ol,ul{list-style:none;}q:before,q:after,blockquote:before,blockquote:after{content:"";}

body {
	font-family: "MS Trebuchet", sans-serif;
}

/* Header Styles */
#header {
	display: block;
	background: #000 url(../images/header_gradient.png) repeat-x fixed top left;
	color: #FFF;
	padding: 0px;
}

/* Navigation Styles */
#navigation {
	padding: 50px 0px 33px 250px;
	color: #FFF;
	white-space: nowrap;
}

#navigation ul {
	color: #FFF;
}

#navigation a, a:visited {
	color: #FFF;
	text-decoration: none;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation a.current {
	font-weight: bold;
}

#content {
/*	clear: both;*/
/*	white-space: nowrap;*/
}

#footer {
	clear: both;
	border-top: 1px solid #999;
	text-align: center;
	color: #CCC;
	font-size: 80%;
	padding: 10px;
}

.doc a, .doc a:visited {
	color: #009;
	text-decoration: underline;
}