<% title "Get some data!" %>

<%- elements = {
	'7795' => 'Investments - Stocks / Bonds',
	'8165' => 'Vehicle - Truck/Motorcycle/RV Owner',
	'8600' => 'Adult Age Ranges Present in Household',
	'8601' => 'Children''s Age Ranges - New',
	'8602' => 'Number of Children - New',
	'8604' => 'Occupation - 1st Individual',
	'8606' => 'Home Owner / Renter',
	'8607' => 'Length of Residence',
	'8608' => 'Dwelling Type',
	'8609' => 'Marital Status in the Household',
	'8614' => 'Base Record Verification Date',
	'8615' => 'Mail Order Buyer',
	'8616' => 'Age in Two-Year Increments - 1st Individual',
	'8619' => 'Working Woman',
	'8620' => 'Mail Order Responder',
	'8621' => 'Credit Card Indicator',
	'8622' => 'Presence of Children - New',
	'8626' => 'Age in Two-Year Increments - Input Individual',
	'8628' => 'Number of Adults',
	'8629' => 'Household Size',
	'8637' => 'Occupation - Input Individual',
	'8641' => 'Income - Estimated Household',
	'8642' => 'Home Market Value',
	'8647' => 'Vehicle - Known Owned Number',
	'8648' => 'Vehicle - Dominant Lifestyle Indicator',
	'8688' => 'Gender - Input Individual',
	'9300' => 'Personicx Cluster Code',
	'9509' => 'Education - 1st Individual',
	'9514' => 'Education - Input Individual',
	'9533' => 'Race Code - Input Individual'} 

	opts = [["Everything", "all"]]
	elements.each {|k, v| opts.push [v, k.to_i]}
	opts.sort!

-%>


<% form_remote_tag :html => {:action => url_for(:controller => "pds", :action => "get_element")}, 
  	:url => {:controller => "pds", :action => "get_element"},
 	:update => {:success => "result"} do -%>
<%= select_tag(:element, options_for_select(opts, 1))  %>
<%= submit_tag "Go" %>
<% end -%>



<br><br>Result<hr>
<div id="result">
</div>
