#kynetx-toolbar-button
{
  list-style-image: url("chrome://kynetx/content/kynetx_40x40.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
[iconsize="small"] #kynetx-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}

#kynetx-toolbar-button.inactive
{
  list-style-image: url("chrome://kynetx/content/kynetx_40x40.png");
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #kynetx-toolbar-button.inactive
{
  -moz-image-region: rect(24px 40px 40px 24px);
}

